/* Medium devices (landscape tablets, 768px and down) */
@media screen and (max-width: 768px) {
    header.navbar-container{
        flex-direction: column;
        
    }

    header.navbar-container .nav-list ul{
        flex-wrap: wrap;
        column-gap: .5rem;
    }

    main .content {
        flex-direction: column;
        gap: 2rem;
    }

    main {
        padding: 1rem 3rem;
    }

    main .content .content-description .title {
        font-size: 3rem;
    }

    main .content .content-description p {
        font-size: 1rem;
    }

    main .content .content-image {
        order: -1;
    }
}